<footer class="footer text-muted">
  <div class="container">
    <div class="float-right">
      <a href="#">Back to top</a>
    </div>
    <div>&copy; sails shop, <a href="https://twitter.com/ankibalyan">Ankit Balyan</a>.</div>
  </div>
</footer>
