
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">One Stop Shop</h1>
    <p class="lead text-muted">Easy, simplyfied shoping experince for you</p>
  </div>
</section>

<div class="products-grid text-muted">
  <div class="container">
    <div class="row">
        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>
        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>
    </div>
  </div>
</div>
