<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">sails Shop</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart
            <span class="badge badge-pill badge-info">0</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/auth/google" class="nav-link">Login with Goggle</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">One Stop Shop</h1>
    <p class="lead text-muted">Easy, simplyfied shoping experince for you</p>
  </div>
</section>

<div class="products-grid text-muted">
  <div class="container">
    <div class="row">
        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>
        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>

        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="">
          <p class="card-text">Smple Product</p>
          <p class="card-text">
            <span class="float-right" ><a href="#" class="btn btn-sm btn-info">Add to Cart</a></span>
          </p>
          <span>Rs. 100</span>
        </div>
    </div>
  </div>
</div>

<footer class="footer text-muted">
  <div class="container">
    <div class="float-right">
      <a href="#">Back to top</a>
    </div>
    <div>&copy; sails shop, <a href="https://twitter.com/ankibalyan">Ankit Balyan</a>.</div>
  </div>
</footer>
